<!DOCTYPE html>
<html>
  <head>
  {% block title %}<title>{{ page_title }}</title>{% endblock %}
    <!-- Bootstrap -->
    {% load staticfiles %}
    <!--<link herf="{% static 'login/css/styles.css' %}" rel="stylesheet" media="screen">-->
    <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" media="screen" title="no title" charset="utf-8">-->
    <link href="{% static 'login/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'login/bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'login/css/styles.css' %}" rel="stylesheet" media="screen">


     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{% static 'login/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
  </head>
  <body id="login">
    <div class="container">

        <form class="form-signin " action="" method="post" >
          <h2 class="form-signin-heading">登录</h2>
{#          <!--{{myform.username}}<br>-->#}
{#          <!--{{myform.password}}<br>-->#}
          <input type="text" name="username" class="input-block-level" placeholder="Username">
          <input type="password" name="password" class="input-block-level" placeholder="Password">
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> 记住密码
          </label>
           <div style="color:red;"><h4>{{ error }}</h4></div>
          <button class="btn btn-large btn-primary" type="submit">登录</button>
            <div>
                {% if login_err %}
                <p style="color: red">{{ login_err }}</p>
                {% endif %}
            </div>
        </form>
    </div> <!-- /container -->
    <script src="{% static 'login/jquery/jquery-1.9.1.min.js' %}"> </script>
    <script src="{% static 'login/js/bootstrap.min.js' %}"> </script>
  </body>
</html>
